Repository cristopher1/generator-quality-npm-package: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./package.json --no-eslintrc --fix, prettier --write

build: se agrega nuevamente el pre-commit
  .husky/pre-commit
Due: none

build: uso de eslintrc.json
  .eslintrc.json
  package.json
Due: prettier --write

build(package.json): se usa eslintConfig
  package.json
Due: prettier --write

build: se usa eslintrc.json como archivo común
  generators/app/templates/common_structure/.eslintrc.json
  generators/app/templates/commonjs/.eslintrc.js
  generators/app/templates/template_files/module/package.json
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

refactor(index.js): ya no se cargan dotfiles desde la carpeta module
  generators/app/index.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

build: .lintstagedrc.json es un archivo común
  generators/app/templates/common_structure/.lintstagedrc.json
  generators/app/templates/module/.lintstagedrc.json
Due: prettier --write

refactor: no se cargan dotfiles desde la carpeta commonjs
  generators/app/index.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

build(.eslintrc.json): se usa la estructura de .eslitrc.json correspondiente
  generators/app/templates/common_structure/.eslintrc.json
Due: prettier --write

build: se quita .eslintrc.json
  .eslintrc.json
Due: prettier --write

build: se agrega eslint-plugin-jsdoc
  generators/app/templates/common_structure/src/index.js
  package-lock.json
  package.json
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

feat: se agrega script para ejecutar los tests
  generators/app/templates/common_structure/src/index.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

build: se cambia la ruta de package.json
  .lintstagedrc.json
Due: prettier --write

fix(rollup.config.mjs): se usa .mjs, ya que se debe importar como esmodule
  generators/app/templates/commonjs/rollup.config.mjs
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

feat(src/index.js): se agrega un fragmento de código de ejemplo
  generators/app/templates/common_structure/src/index.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

test(src/index.js): se agrega un test de ejemplo
  generators/app/templates/common_structure/__tests__/index.test.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

fix(rollup.config.js): se reemplaza por rolupp.config.mjs
  generators/app/templates/commonjs/rollup.config.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

feat(index.js): se agrega script build y mensaje de despedida
  generators/app/index.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

fix(jest.config.js): se ignoran los tests dentro de generators
  jest.config.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

fix(index.js): se agregan valores por defecto a prompt
  generators/app/index.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

refactor(package.json): se mueven las dependencias y dev dependencias a package.json
  generators/app/templates/template_files/commonjs/package.json
  generators/app/templates/template_files/module/package.json
Due: prettier --write

test: se agregan algunos tests
  __tests__/app.test.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

feat(index.js): se agrega al prompt opciones para runGitInit y runPackageScripts
  generators/app/index.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

test: se reestructuran los tests
  __tests__/app.test.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

build(eslintConfig): debido a que se usan aserciones de yeoman, se anula 'jest/expect-expect'
  package.json
Due: prettier --write

feat: se agregan más atributos a las plantillas de package.json
  generators/app/templates/template_files/commonjs/package.json
  generators/app/templates/template_files/module/package.json
Due: prettier --write

feat: se añade funcionalidad para obtener las keywords
  generators/app/index.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

build: se usa .eslitrc.yml
  .eslintrc.yml
  package.json
Due: prettier --write

build: se cambia la configuración de eslint
  .lintstagedrc.json
Due: prettier --write

fix: se elimina espacio adicional de la plantilla
  generators/app/templates/template_files/commonjs/package.json
  generators/app/templates/template_files/module/package.json
Due: prettier --write

build: se cambia los scripts asociados a lint, para que use .eslintrc.yml
  package.json
Due: prettier --write

build(.eslintrc.yml): corrección en configuración
  .eslintrc.yml
Due: none

build: se quita eslint-config-xo
  package-lock.json
  package.json
Due: prettier --write

build: se deja de usar eslint-config-xo
  .eslintrc.yml
Due: none

fix(index.js): dse usan valores por defecto
  generators/app/index.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

build: uso de typescript y modificación de algunos scripts
  package-lock.json
  package.json
Due: prettier --write

build: corrección en configuración de eslint
  .eslintrc.yml
Due: none

build: configuración de typescript
  tsconfig.json
Due: prettier --write

build: se modifica la configuración de rollup
  rollup.config.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

build: se modifica la configuración de .gitignore
  .gitignore
Due: none

build: cambio en .prettierignore
  .prettierignore
Due: none

Path conditions:
  eslint -c ./package.json --no-eslintrc --fix: any of: *.{js,mjs}
  prettier --write: (any of: *.{js,mjs}) or (any of: *.json)
