Repository cristopher1/generator-quality-npm-package: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./package.json --no-eslintrc --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs}": [
    "eslint -c ./package.json --no-eslintrc --fix",
    "prettier --write"
  ],
  "*.json": ["prettier --write"]
}

feat: se usa generator-license para generar una licencia para el paquete
  generators/app/index.js
  generators/app/templates/template_files/commonjs/package.json
  generators/app/templates/template_files/module/package.json
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

build: se añaden campos para la importación de archivos y se quita el email
  package.json
Due: prettier --write

build(template_files): se borra el campo de la licencia, se añade usando generator-license
  generators/app/templates/template_files/commonjs/package.json
  generators/app/templates/template_files/module/package.json
Due: prettier --write

build: uso de @jest/globals
  package.json
Due: prettier --write

build: uso de @jest/globals
  package-lock.json
Due: prettier --write

test: se hace un mock de generator-license
  __tests__/app.test.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

refactor(index.js): se integra generator-license usando compositeWith
  generators/app/index.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

build: problemas usando yo 4.3.1 y yeoman-generator 7.1.0, se baja a yeoman-generator 6.0.1
  package-lock.json
  package.json
Due: prettier --write

refactor(app): se separa el generador en subgeneradores y composición de clases
  generators/app/generator_components/GeneratorProvider.js
  generators/app/generator_components/PromptBuilder.js
  generators/app/index.js
  generators/app/templates/common_structure/.eslintignore
  generators/app/templates/common_structure/.eslintrc.json
  generators/app/templates/common_structure/.gitignore
  generators/app/templates/common_structure/.husky/commit-msg
  generators/app/templates/common_structure/.husky/pre-commit
  generators/app/templates/common_structure/.husky/pre-push
  generators/app/templates/common_structure/.lintstagedrc.json
  generators/app/templates/common_structure/.prettierignore
  generators/app/templates/common_structure/.prettierrc.json
  generators/app/templates/common_structure/__tests__/helpers/index.js
  generators/app/templates/common_structure/__tests__/index.test.js
  generators/app/templates/common_structure/tsconfig.json
  generators/app/templates/commonjs/babel.config.json
  generators/app/templates/commonjs/commitlint.config.js
  generators/app/templates/commonjs/jest.config.js
  generators/app/templates/commonjs/rollup.config.mjs
  generators/app/templates/module/babel.config.json
  generators/app/templates/module/commitlint.config.js
  generators/app/templates/module/jest.config.js
  generators/app/templates/module/rollup.config.js
  generators/app/templates/src/index.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

refactor(babel): se agrega subgenerador para babel
  generators/babel/index.js
  generators/babel/templates/commonjs/babel.config.json
  generators/babel/templates/esmodules/babel.config.json
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

refactor(commitlint): se agrega subgenerador para commitlint
  generators/commitlint/index.js
  generators/commitlint/templates/commonjs/commitlint.config.js
  generators/commitlint/templates/esmodules/commitlint.config.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

refactor(eslint): se agrega subgenerador
  generators/eslint/index.js
  generators/eslint/templates/.eslintignore
  generators/eslint/templates/.eslintrc.json
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

build(git): se agrega subgenerador
  generators/git/index.js
  generators/git/templates/.gitignore
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

refactor(husky): se agrega subgenerador
  generators/husky/index.js
  generators/husky/templates/commit-msg
  generators/husky/templates/pre-commit
  generators/husky/templates/pre-push
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

refactor(jest): se agrega subgenerador
  generators/jest/index.js
  generators/jest/templates/__tests__/helpers/index.js
  generators/jest/templates/__tests__/index.test.js
  generators/jest/templates/commonjs/jest.config.js
  generators/jest/templates/esmodules/jest.config.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

refactor(lintstaged): se agrega subgenerador
  generators/lintstaged/index.js
  generators/lintstaged/templates/.lintstagedrc.json
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

refactor(prettier): se agrega subgenerador
  generators/prettier/index.js
  generators/prettier/templates/.prettierignore
  generators/prettier/templates/.prettierrc.json
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

refactor(rollup): se agrega subgenerador
  generators/rollup/index.js
  generators/rollup/templates/commonjs/rollup.config.mjs
  generators/rollup/templates/esmodules/rollup.config.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

refactor(typescript): se agrega subgeenrador
  generators/typescript/index.js
  generators/typescript/templates/tsconfig.json
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

refactor(app): se usa .merge para agregar valores a package.json
  generators/app/index.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

refactor(package.json): se usa un solo archivo package.json
  generators/app/templates/package.json
  generators/app/templates/template_files/module/package.json
Due: prettier --write

fix: se corrige la configuración de jest
  .eslintrc.yml
Due: none

feat(app): se pregunta al usuario si quiere agregar una licencia al paquete
  generators/app/generator_components/GeneratorProvider.js
  generators/app/generator_components/PromptBuilder.js
  generators/app/index.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

refactor(app): se usa initializing hacer la composición
  generators/app/index.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

style: se agregan salto de linea al final del archivo
  generators/eslint/templates/.eslintignore
  generators/git/templates/.gitignore
  generators/prettier/templates/.prettierignore
Due: none

build: se quita rollup-plugin-dts
  package-lock.json
  package.json
Due: prettier --write

build: modificación de configuración de tsconfig.json
  tsconfig.json
Due: prettier --write

build: se ignoran los tests encontrados en la carpeta dist
  jest.config.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

fix(jest): se corrige importación de src/index.js
  generators/jest/templates/__tests__/index.test.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

test: uso de faker
  __tests__/helpers/index.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

feat(app): se usa trim para eliminar espacios en blanco adicionales
  generators/app/index.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

build: se anula la regla jest/no-template-curly-in-string
  .eslintrc.yml
Due: none

build: se anula no-template-curly-in-string
  .eslintrc.yml
Due: none

test(app.test.js): se agregan nuevos tests
  __tests__/app.test.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

fix(app.test.js): se corrige nombre de test asociado a package.json
  __tests__/app.test.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

docs: Update README.md
  README.md
Due: none

refactor(app): se corrigen las preguntas del prompts
  generators/app/generator_components/PromptBuilder.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

style: archivo formateado por prettier
  README.md
Due: none
