Repository cristopher1/generator-quality-npm-package: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./package.json --no-eslintrc --fix, prettier --write

docs: Update README.md
  README.md
Due: none

style: archivo formateado por prettier
  README.md
Due: none

build: se agregan nuevas keywords
  package.json
Due: prettier --write

style: archivo formateado por prettier
  generators/app/generator_components/PromptBuilder.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

build: agregada nuevas keywords
  package.json
Due: prettier --write

build: se usa cross-env para configurar NODE_ENV, que permite seleccionar el env usado por babel
  package-lock.json
Due: prettier --write

build: se transpilan los generadores a es5 y es6 directamente con babel
  package.json
Due: prettier --write

build: se añade modules:false para usar habilitar el uso de es modules
  babel.config.json
Due: prettier --write

build(rollup): se quita rollup, sus complementos y configuración. Se reemplaza por babel
  package-lock.json
  package.json
  rollup.config.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

build(es5-es6): archivos transpilados tienen extensión .mjs y .cjs, se incluye dotfiles en la salida
  package.json
Due: prettier --write

docs(license): se quita el email de la lincecia
  LICENSE
Due: none

build: se instala yeoman-environment
  package-lock.json
  package.json
Due: prettier --write

build(tsc): se quita generators/**/generator_components
  tsconfig.json
Due: prettier --write

build(tsc): se guardan los archivos .d.ts en ./dist/types/generators
  tsconfig.json
Due: prettier --write

build(package.json): solo se exporta app generator
  package.json
Due: prettier --write

build: el generador se transpila solo a es6
  babel.config.json
Due: prettier --write

build: se quitan scripts asociados a es5
  package.json
Due: prettier --write

build: se usa rootDir ./generators
  tsconfig.json
Due: prettier --write

build: se quita el script que borra la carpeta temporal de types
  package.json
Due: prettier --write

build: se cambian las rutas de exportación
  package.json
Due: prettier --write

style: se ajusta la identación
  generators/app/templates/package.json
Due: prettier --write

build: versión 1.0.0
  README.md
  package-lock.json
  package.json
Due: prettier --write

fix(project): se cambia la forma en la que se copian los archivos
  generators/app/index.js
  generators/babel/index.js
  generators/commitlint/index.js
  generators/eslint/index.js
  generators/git/index.js
  generators/git/templates/_gitignore
  generators/husky/index.js
  generators/jest/index.js
  generators/lintstaged/index.js
  generators/prettier/index.js
  generators/rollup/index.js
  generators/typescript/index.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

build: versión 1.0.1
  README.md
  package-lock.json
  package.json
Due: prettier --write

build(generators/app): se quita engines
  package.json
Due: prettier --write

fix(generators/app): se usa async y await para composeWith
  generators/app/index.js
Due: eslint -c ./package.json --no-eslintrc --fix, prettier --write

docs: se actualiza RELEASE_NOTES.md y packge-lock.json
  RELEASE_NOTES.md
  package-lock.json
Due: prettier --write

docs: se actualiza a la version 1.0.2
  README.md
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint -c ./package.json --no-eslintrc --fix: any of: *.{js,mjs}
  prettier --write: (any of: *.{js,mjs}) or (any of: *.json)
